body{
	background-color: lightgray;
}

h1{
	color: black;
	font-size: 90px;
	font-family: sans-serif;
}

h2{
	color: black;
	font-size: 50px;
	font-family: serif;
}

#first{
	font-size: 120px;
}

.small{
	font-size: 12px;
}

span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through;
}